<div class="card bg-light mb-3">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">{{ task.description }}</h5>
        <p class="text-justify"><b>Project: {{ task.project }} </b> <br>
                                <b>Status:</b> {{ task.status }}  <br>
                                <b>Type:</b> {% for type in task.types.all %}{{ type.name }}{% if not forloop.last %}, {% endif %}{% endfor %} </p>
        <p>{{ task.detailed_desc }}</p>
        <form class="form-inline">
            <a class="btn btn-primary btn-sm mr-3" href="{% url 'task_view' task.pk %}" role="button">View</a>
            <a class="btn btn-danger btn-sm mr-3" href="{% url 'delete' task.pk %}" role="button">Delete</a>
            <a class="btn btn-info btn-sm mr-3" href="{% url 'update' task.pk %}" role="button">Update</a>
            <a class="btn btn-secondary btn-sm mr-3" href="{% url 'project_view' task.project.pk %}" role="button">Project page</a>
        </form>
    </div>
</div>