<div class="card bg-light mb-3">
    <div class="card-body">
        <h5 class="card-title font-weight-bold">Project name: {{ project.name }}</h5>
        <p><b>Project id: {{ project.pk }} </b> <br>
        <p><b>Description: {{ project.description }} </b> <br>
        <p><b>Started: {{ project.start_date }} </b> <br>
        <p><b>Ended: {% if project.end_date is not None %}{{ project.end_date }}{% endif %} </b> <br>
        <p><b>Users:</b> {% for user in project.users.all %}<a href="{% url 'accounts:detail' user.pk %}">{{ user.username }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}</p>
        {% if request.user.is_authenticated %}
            <br>
            <div class="form-inline">
                {% if perms.webapp.add_task and request.user in project.users.all %}
                    <a class="btn btn-primary btn-sm mr-3" href="{% url 'project_task_add' project.pk %}" role="button">Add task</a>
                {% endif %}
                {% if 'accounts' in request.path %}
                    <a class="btn btn-secondary btn-sm mr-3" href="{% url 'project_view' project.pk %}" role="button">View project</a>
                {% endif %}
                {% if perms.webapp.delete_project %}
                    <a class="btn btn-danger btn-sm mr-3" href="{% url 'project_delete' project.pk %}" role="button">Delete</a>
                {% endif %}
                {% if perms.webapp.change_project %}
                    <a class="btn btn-info btn-sm mr-3" href="{% url 'project_update' project.pk %}" role="button">Update</a>
                {% endif %}
                {% if perms.accounts.can_manage_users and request.user in project.users.all %}
                    <a class="btn btn-outline-primary btn-sm mr-3" href="{% url 'users_update' project.pk %}" role="button">Manage users</a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>
