{% extends 'base.html' %}
{% block title %}Issue Tracker{% endblock %}

{% block content %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% if tasks %}
        {% for task in tasks %}
            {% include 'partial/task_card.html' %}
        {% endfor %}
    {% else %}
        {% if 'search' not in request.query %}
            <h2 class="my-5">No tasks yet</h2>
        {% else %}
            <h2 class="my-5">No results</h2>
        {% endif %}
    {% endif %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    {% if request.user.is_authenticated %}
        <a class="btn btn-primary btn-lg btn-block mb-4" href="{% url 'create' %}" role="button">Add task</a>
    {% endif %}
{% endblock %}